.niceBlueBackground {
    background-color: #4aaaa5;
}

body {
    background-image: url("./images/interlaced.png");
}

.testing {
    height: 100%;
}
.whiteBack {
    background-color: white;
}

.aboutMe {
    color: #4aaaa5;
}