body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.border-3 {
    border-width:3px !important;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.niceBlueBackground {
    background-color: #4aaaa5;
}

body {
    background-image: url("./images/interlaced.png");
}

.testing {
    height: 100%;
}
.whiteBack {
    background-color: white;
}

.aboutMe {
    color: #4aaaa5;
}

#contentHeader {
    color: #4aaaa5;
}

.footerStyling {
    background-color: #666666;
    border-width:7px !important;
    border-color: #4aaaa5 !important;
    height: 70px
}

.portfolioPictures {
    height: 170px;
    width: 250px;
}